name: reviewdog - tfsec
on:
  pull_request:
    paths:
      - '**/*.tf'
      - '.github/workflows/reviewdog-tfsec.yml'

jobs:
  tfsec:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: tfsec with reviewdog
        uses: reviewdog/action-tfsec@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          fail_on_error: false
          filter_mode: diff_context
