name: terraform-apply
on:
  push:
    branches: [main]
    paths:
      - "modules/**"
      - "envs/**"
      - ".github/workflows/**"

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1
  TF_IN_AUTOMATION: true

jobs:
  apply:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        envdir: [envs/dev]
    defaults:
      run:
        working-directory: ${{ matrix.envdir }}
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.DEPLOY_ROLE_ARN }} 
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform init
        run: terraform init -input=false

      - name: Terraform apply
        run: terraform apply -auto-approve -input=false -var="region=us-east-1" -var="name=demo"
